@import url(fontawesome-all.min.css);

@font-face {
  font-family: 'huninn';
  src: url('../webfonts/jf-openhuninn-1.1.ttf') format("truetype");
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Basic */
@-ms-viewport {
  width: device-width; }

body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ffffff; }
  body.is-preload *, body.is-preload *:before, body.is-preload *:after, body.is-resizing *, body.is-resizing *:before, body.is-resizing *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

/* Type */
body, input, select, textarea {
  color: #000000;
  /* font-family: "Helvetica Neue", Helvetica, STHeiti, sans-serif; */
  font-family: "Helvetica",  "Heiti SC", sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65; }
  @media screen and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 11pt; } }
  @media screen and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 10pt; } }
  @media screen and (max-width: 360px) {
    body, input, select, textarea {
      font-size: 9pt; } }

/*
a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none; }
  a:hover {
    border-bottom-color: #000000;
    background-color: #000000;
    color: #ffffff !important; }
    a:hover strong {
      color: inherit; }
*/

strong, b {
  color: #000000;
  font-weight: 600; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 10px 0; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0; }

h1 {
  font-size: 4em;
  margin: 0 0 0.5em 0;
  line-height: 1.3; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.7em; }

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 3.5em; } }

@media screen and (max-width: 980px) {
  h1 {
    font-size: 3.25em; } }

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
    line-height: 1.4; }
  h2 {
    font-size: 1.5em; } }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

blockquote {
  border-left: solid 3px rgba(210, 215, 217, 0.75);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  background: rgba(230, 235, 237, 0.25);
  border-radius: 0.375em;
  border: solid 1px rgba(210, 215, 217, 0.75);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px rgba(210, 215, 217, 0.75);
  margin: 2em 0; }
  hr.major {
    margin: 3em 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.flush-right {
  float: right;
}

ul.navbar {
  margin: 0;
  padding: 0;
  display: flex;
}

ul.navbar li {
  list-style-type: none;
  margin: 0px 20px;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 1.5em;
}

/* ul.navbar li:first-child{padding-right: 50vw;}

@media screen and (max-width: 720px) {
  ul.navbar li{
    font-size: 1.2em;
  }
  ul.navbar li:first-child{padding-right: 20vw;}
}

*/

/*
ul.navbar a {
  font-weight: 500;
}
*/

.logo {
  width: 100px;
}

.banner{
  margin-left: 20px;
}

.vertical-1cm {
  margin-bottom: 1cm;
}

.vertical-2cm {
  margin-bottom: 2cm;
}

.text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 100%;
  width: 95%;
  padding: 0px 20px;
  border-left: solid #ff0000;
}

.title {
  margin-left: 20px;
  font-size: 4em;
  font-weight: 800;
  line-height: 100%;
  width: 80%;
}

.hollow {
  color: black;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -ms-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}

ul.navbar li a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none;}
  ul.navbar li a:hover {
    background-color: #000000;
    color: #ffffff !important; }
    ul.navbar li a:hover strong {
      color: inherit; }

.text a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #000000 !important;
  text-decoration: underline; }
  .text a:hover {
    border-bottom-color: #000000;
    color: #ff0000 !important; }
    .text a:hover strong {
      color: inherit; }

.text-background {
  background-color: #000000;
  color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 16px;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
}

/*
.footer a {
  color: #000000 !important;
  text-decoration: underline;
}
  .footer a:hover {
    border-bottom-color: #000000;
    color: #ff0000 !important; }
    .footer a:hover strong {
      color: inherit; }
      */

ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul.footer li {
  float: left;
  padding: 0px 20px;
}

ul.footer li a {
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  color: #000000;
  text-decoration: underline;
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}
  ul.footer li a:hover {
    border-bottom-color: #000000;
    color: #ff0000 !important; }
    ul.footer li a:hover strong {
      color: inherit; }

.image {
  font-size: 1.5em;
  margin-left: 20px;
  width: 80%;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.image:hover {
  opacity: 1;
  /* transform: translate(200px,0); */
}

.flip{
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.flip:hover{
  transform: scale(-1, 1);
}

/*
ul.blog {
  display: inline-block;
}

ul.blog:hover {
  margin: -10px 0;
}
*/

ul.blog li {
  list-style-type: none;
  margin: 5px 0;
}

/*
ul.blog li:hover {
  margin: 15px 0;
}
*/

ul.blog li a {
  display:inline-block;
  float: top;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #000000;
  padding-bottom: 5px;
  text-decoration: none;}
  ul.blog li a:hover {
    color: #ff0000 !important;
    text-decoration: underline;}
    ul.blog li a:hover strong {
      color: inherit;}
  ul.blog li a:active {
    color: #ff0000 !important;}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee 50s linear infinite;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  /*
  background: #eee;
  */
  overflow-x: hidden;
  padding: 8px 0;
  margin-left: 100px;
  margin-right: 20px;
}

.sidenav a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 8px 0px 10px;
  text-decoration: none;
  /*
  color: #2196F3;
  */
  display: block;
  text-align: right;
}

.sidenav a:hover {
    color: #ff0000 !important; }
    .sidebar a:hover strong {
      color: inherit; 
}

.sidenav>.active:before {
    content:"â— ";
    font-weight: bold;
    color:red;
}

.sidenav>.active {
}

.main {
  margin-left: 240px; /* Same width as the sidebar + left position in px */
  margin-right: 140px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Add a black background color to the top navigation */
.bottomnav {
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin-left: 260px; /* Same width as the sidebar + left position in px */
  margin-right: 140px;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 8px 0px 10px;
  text-decoration: none;
  /*
  color: #2196F3;
  */
  float: left;
  display: block;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  color: #ff0000;
}

/* Add a black background color to the top navigation */
.back {
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 130px;
  color: white;
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.back a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 8px 0px 10px;
  text-decoration: none;
  text-align: right;
  /*
  color: #2196F3;
  */
  float: right;
  display: block;
}

/* Change the color of links on hover */
.back a:hover {
  color: #ff0000;
}

hr.vertical {
  width: 0px;
  height: 100%;
  /* or height in PX */
  float:left;
}

div.vertical-20px {
  height: 20px;
  display: block;
}

div.vertical-40px {
  height: 40px;
  display: block;
}